html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

:root {
  --primary-color: #3B82F6;
  --primary-hover: #2563EB;
  --primary-light: #DBEAFE;
}